/* Sweet Alert */
.swal-button {
	padding: 0 24px !important;
	border-radius: 2px !important;
	background-image: none !important;

	&:hover {
		color: white !important;
	}
}
.swal-modal {
	border-radius: 2px !important;

	.swal-overlay--show-modal & {
		animation: unset !important;
	}
}
.confirm-delete-dialog {
	.swal-button--confirm {
		background-color: #ff8a65;

		&:hover {
			background-color: #ff7043;
		}
	}
}